@import url('https://fonts.googleapis.com/css?family=Evo:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Evo:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*-------General------*/

body {
    font-family: "Evo", sans-serif;
}

.heading {
    text-align: center;
    font-family: inherit;
    margin-bottom: 4%;
}

.uppercase {
    text-transform: uppercase;
}

.scrollTop {
    float: right;
    padding-bottom: 2%;
}

.fa {
    font-weight: 900;
    font-size: 40px;
    color: #fff;
}

/*-----Navigation and Header-----*/

.navbar {
    border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
}

.navbar-inverse {
    background: #2b3743;
    ;
    margin-bottom: -2px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    font-family: inherit;
    font-weight: 600;
    text-transform: uppercase;
}

.navbar-toggle {
    margin-right: 2px;
    border: none;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    background-color: #2d3b46;
    border: 1px solid #ffffff;
}

.navbar-collapse.in {
    overflow: hidden;
}

.banner img {
    width: 100%;
}

.navbar-header .brand {
    padding: 0 10px;
}

.brand img {
    padding-top: 2%;
    padding-bottom: 2%;
}

.hvr-sweep-to-bottom:before {
    background: rgba(255, 255, 255, 0.2);
    height: 60px;
}

/*----About Section---*/

.about-section {
    margin-top: 5%;
    margin-bottom: 5%;
}

.about {
    margin-left: 10%;
    margin-top: 2%;
    font-family: inherit;
    font-size: 17.5px;
}

.about-image {
    margin-right: 10%
}

iframe {
    border: none !important;
}

.about-image iframe {
    width: 100%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}


/*----Band Section-----*/

.band-section {
    margin: 5%;
}

.band-heading {
    font-family: inherit;
    font-size: 18px;
    text-align: center;
}

.member {
    padding: 2%;
}

.member-info p {
    font-size: 16px;
    text-align: center;
}

.member-image img {
    width: 100%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

/*----Album Section---*/

.album-section {
    margin: 5%
}

.album {
    margin-top: 5%;
    margin-bottom: 15%;
}

.album-image {
    text-align: center;
    padding: 5px;
}

.album-image img {
    width: 100%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.album-heading {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    height: 20px;
}

.album-info {
    font-family: inherit;
    text-align: center;
}

/*----Call to Action----*/

.call-to-action-wrapper {
    height: 75vh;
    overflow: hidden;
    perspective: 2px;
}

.call-to-action-section {
    position: relative;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    font-family: inherit;
}

.call-to-action-center {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.call-to-action-section p {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 16px;
    padding: 0;
    line-height: 25px;
    font-weight: 500;
}

.call-to-action::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
}

.bg1::after {
    background-image: url('/images/parallax-one.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.bg2::after {
    background-image: url('/images/parallax-two.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.bg3::after {
    background-image: url('/images/parallax-three.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}


.custom-button {
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-top: 3%;
}

.custom-button:hover {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
}

.call-to-action-two-wrapper {
    height: 70vh;
    overflow: hidden;
    perspective: 2px;
    width: 100%;
}

.call-to-action-two-section {
    position: relative;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    font-family: inherit;
}

.call-to-action-two-center {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.call-to-action-two-section p {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 16px;
    padding: 0;
    line-height: 25px;
    font-weight: 500;
    text-transform: uppercase;
}

/*-----Contact Section----*/

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

.contact-section {
    margin-top: 5%;
    margin-bottom: 5%;
}

button[type="submit"] {
    margin-top: 5%;
}

input[type="text"] {
    margin-bottom: 1.5%;
}

.form-control {
    border: 1px solid #aaa;
    margin-bottom: 1%;
}

/*---Tour-Section---*/

.tour-section {
    font-family: inherit;
    text-align: center;
    margin: 5%;
}

.tour-date {
    font-size: 28px;
    clear: both;
}

.tour-location {
    font-size: 21px;
}

.tour-details {
    border: 2px solid #dddddd;
    color: #555555;
    margin-bottom: 15%;
    margin-top: 5%;
    padding: 5%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #eeeeee
}

.ticket {
    width: 65px;
    height: 65px;
    background-image: url('/images/ticket-icon.png');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
    margin-top: -35px;
    margin-right: -35px;
}

/*-----Music Section-----*/

.music-section {
    margin-top: 5%;
    padding: 0 5%;
}

.music-heading {
    margin-bottom: 5%;
    text-transform: uppercase;
}

audio {
    width: 100%;
}

.audio-section {
    text-align: center;
    margin-bottom: 5%;
}

.audio-item {
    margin-bottom: 5%;
    background: rgb(86,116,143, 0.8);
    padding: 5%;
    color: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 3px solid #2d3b46;
}

.music-heading {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 800;
    text-align: left;
    margin-left: 1%;
}

.audio-icon {
    width: 30px;
    height: 30px;
    background-image: url('/images/favicon.png');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
    margin-top: -10px;
    margin-right: -10px;
}


/*-------Footer-----*/

footer {
    background-color: #2d3b46;
}

.footer {
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
}

.footer-video {
    margin-bottom: 2%;
}

.footer-video iframe {
    width: 100%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.footer-heading {
    text-transform: uppercase;
    margin-top: 10%;
    margin-bottom: 10%;
    font-family: inherit;
    color: #FFFFFF;
    text-align: center;
    font-size: 21px;
}

.copyright {
    text-align: center;
    color: #ffffff;
    font-family: inherit;
    font-weight: 600;
    margin-top: 2%;
    margin-bottom: 2%;
}

.social-section {
    text-align: center;
}

.socials {
    margin-top: -10px;
    margin-bottom: 2%;
}

.socials a {
    display: inline;
}

.socials img {
    width: 25px;
    margin: 2px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}


/*----Media Queries---*/

@media only screen and (max-width: 992px) {
    .about,
    .about-image {
        margin: 5%;
    }

    input[type="text"] {
        margin-bottom: 2%;
    }

    .member {
        margin-bottom: 7.5%;
    }

    .copyright {
        margin-bottom: 5%;
    }
}

@media only screen and (max-width: 768px) {
    .hvr-sweep-to-bottom:before {
        background: rgba(255, 255, 255, 0.2);
        height: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .copyright {
        margin-bottom: 7.5%;
    }

    input[type="text"] {
        margin-bottom: 3%;
    }

    .call-to-action-section p,
    .call-to-action-two-section p {
        padding: 0 5% 0 5%;
    }

    .audio-item {
        margin-bottom: 10%;
    }

    .music-heading {
        margin-right: 10%;
        font-size: 14px;
    }

    .music-section {
        margin-top: 10%;
    }

    .about,
    .about-image {
        margin: 1%;
    }
}
