@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*-------General------*/

body {
    font-family: "Roboto", sans-serif;
}

.heading {
    text-align: center;
    font-family: inherit;
    margin-bottom: 4%;
}


/*-----Navigation and Header-----*/

.navbar {
    border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
}

.navbar-inverse {
    background: #000;
    color: #fff;
    margin-bottom: -2px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.banner img {
    width: 100%;
}


/*----About Section---*/

.about-section {
    margin-top: 2%;
}

.about {
    padding: 5px;
    font-family: inherit;
    font-size: 18px;
}

.about-image {
    padding: 5px;
}

.about-image iframe {
    width: 100%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}


/*----Band Section-----*/

.band-section {
    margin-top: 2%;
}

.member {
    padding: 2%;
}

.member-image img {
    width: 100%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}


/*-------Footer-----*/

.footer {
    margin-top: 2%;
    background-color: #000;
    height: 300px;
}
